language: java
sudo: false
install: true
jdk: oraclejdk8

jobs:
  include:
  - stage: Discovery Service
    env: MODULE_DIR=discovery-service
  - stage: Edge Service
    env: MODULE_DIR=edge-service
  - stage: Hello Service
    env: MODULE_DIR=hello-service

before_install:
 - cd $MODULE_DIR
 
addons:
  sonarcloud:
    organization: "hycom-pip"
    token:
      secure: 8c8cd60936858ad29039d8e29a8dad33bcc27b81

script:
 - mvn test
 - sonar-scanner