language: java
sudo: false
install: true
jdk: oraclejdk8

jobs:
  include:
  - stage: Discovery Service
    env: MODULE_DIR=discovery-service
  - stage: Edge Service
    env: MODULE_DIR=edge-service
  - stage: Hello World
    env: MODULE_DIR=hello-service
  - stage: Wiki Service
    env: MODULE_DIR=wikipedia-search-service
    script:
      - mvn -f ../provider-contract/pom.xml clean install
      - mvn test
  - stage: Google Service
    env: MODULE_DIR=google-search-service
    script:
      - mvn -f ../provider-contract/pom.xml clean install
      - mvn test
  - stage: Aggregat Service
    env: MODULE_DIR=aggregate-service
    script:
      - mvn -f ../provider-contract/pom.xml clean install
      - mvn test
  - stage: Local Service
    env: MODULE_DIR=local-search-service
    script:
      - mvn -f ../provider-contract/pom.xml clean install
      - mvn test

before_install:
 - cd $MODULE_DIR
 
addons:
  sonarcloud:
    organization: "hycom-pip"
    token:
      secure: "8c8cd60936858ad29039d8e29a8dad33bcc27b81"

script:
 - mvn test
 - mvn sonar:sonar -Dsonar.branch
