language: java
sudo: false
install: true
jdk: oraclejdk8

jobs:
  include:
  - stage: Discovery Service
    env: SAMPLE=discovery-service
  - stage: Edge Service
    env: SAMPLE=edge-service
  - stage: Hello Service
    env: SAMPLE=hello-service
  - stage: Main Project
    env: SAMPLE=./
    script: mvn test -B

before_install:
- cd $SAMPLE