<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">
<head>
    <title>Analytics</title>
	<script type="text/javascript" defer src="js/analytics-vue.js"></script>
</head>
<body>
	<div class="content" layout:fragment="content">
	    <div class="container-for-elements">
	        <div class="dropdown">
	            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
	                {{ timePeriod }}
	            </button>
	            <div class="dropdown-menu">
	                <a class="dropdown-item" v-on:click="fill('7')">Last 7 days</a>
	                <a class="dropdown-item" v-on:click="fill('30')">Last 30 days</a>
	                <a class="dropdown-item" v-on:click="fill('90')">Last 3 months</a>
	            </div>
	        </div>
	    </div>
	    <div class="container-for-elements">
	        <h3>Number of views: {{ numberOfViews }}</h3>
	    </div>
	    <div class="container-for-elements">
	        <table class="table table-striped">
	            <thead>
	            <tr>
	                <th scope="col">Search Term</th>
	                <th scope="col">Total Unique Searches</th>
	                <th scope="col">Percent of Total</th>
	            </tr>
	            </thead>
	            <tbody>
	            <tr v-for="row in rows">
	                <td>{{ row.term }}</td>
	                <td>{{ row.searches }}</td>
	                <td>{{ row.percent }}&percnt;</td>
	            </tr>
	            </tbody>
	        </table>
	    </div>
	</div>
</body>
</html>