<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">
<head>
    <title>Search Home</title>
	<script type="text/javascript" defer th:src="@{js/index-vue.js}"></script>
</head>
<body>
	<div class="content" layout:fragment="content">
	    <div class="container-for-elements">
	        <form name="query-form" class="form-horizontal" action="/results" method="get">
	            <div class="input-group ">
	                <input type="text" class="form-control" name="query" placeholder="Search">
	                <div class="input-group-append">
	                    <button type="submit" class="btn btn-outline-secondary"><span class="fas fa-arrow-right"></span></button>
	                </div>
	            </div>
	            <div class="btn-group-toggle container-for-elements text-center" data-toggle="buttons">
	                <label class="btn btn-lg">
	                    <input type="checkbox" name="provider" value="wikipedia"><i class="fab fa-wikipedia-w"></i></input>
	                </label>
	                <label class="btn btn-lg">
	                    <input type="checkbox" name="provider" value="google"><i class="fab fa-google"></i></input>
	                </label>
	                <label class="btn btn-lg">
	                    <input type="checkbox" name="provider" value="local-drive"><i class="fas fa-hdd"></i></input>
	                </label>
	                <label class="btn btn-lg">
	                    <input type="checkbox" name="provider" value="google-drive"><i class="fab fa-google-drive"></i></input>
	                </label>
	            </div>
	        </form>
	    </div>
	</div>
	
</body>
</html>