info:
  component: Edge Server

spring:
  application:
    name: gateway-server

endpoints:
  restart:
    enabled: true
  shutdown:
    enabled: true
  health:
    sensitive: false

zuul:
  prefix: /api
  routes:
    hello:
      path: /hello/**
      serviceId: hello-service
#  include-debug-header: true


ribbon:
  eureka:
    enabled: true

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
    registerWithEureka: false

server:
  port: 8765
