spring:
  profiles:
    active: development
---

spring:
  profiles: development
---

spring:
  profiles: production
---

spring:
  application:
    name: aggregate-service

server:
  port: ${PORT:8888}

eureka:
  client:
    serviceUrl:
      defaultZone: ${EUREKA_URL:http://localhost:8761}/eureka/
  instance:
    leaseRenewalIntervalInSeconds: 1
    leaseExpirationDurationInSeconds: 2

ribbon:
  eureka:
    enabled: true
  ConnectTimeout: 3000
  ReadTimeout: 7000
hystrix:
  command:
    default:
      execution:
        timeout:
          enabled: false

clients: local-search-service,google-search-service,wikipedia-search-service
#client:
#  wikiClient:
#    enabled: true
#
#  googleClient:
#    enabled: true
#
#  localClient:
#    enabled: true
#
#  googleDriveClient:
#    enabled: true
